{% extends "layout.html" %}

{% block content %}

<div class="container single-product-content bg-color-white pt-15px pb-20px">
  <form>
    <div class="row">
    <div class="form-group col-6">
      <label>First Name</label>
      <input type="text" class="form-control" name="first_name">
    </div>

    <div class="form-group col-6">
      <label>Last Name</label>
      <input type="text" class="form-control" name="last_name">
    </div>
    
    <div class="form-group col-12">
      <label>Email</label>
      <input type="email" class="form-control" name="email">
    </div>

    <div class="form-group col-12">
      <label>Address</label>
      <textarea name="address" class="form-control" rows="3"></textarea>
    </div>
    
    <div class="form-group col-6">
      <label>Country</label>
      <input list="countries" class="form-control" name="country">
      <datalist id="countries">
        <option value="India">
        <option value="Canada">
        <option value="U.S">
      </datalist>
    </div>
    
    <div class="form-group col-6">
      <label>State</label>
      <input list="states" class="form-control" name="state">
      <datalist id="states">
        <option value="Gujarat">
        <option value="Rajsthan">
        <option value="Maharashtra">
      </datalist>
    </div>
    
    <div class="form-group col-6">
      <label>City</label>
      <input list="cities" class="form-control" name="city">
      <datalist id="cities">
        <option value="Ahmedabad">
        <option value="Gandhinagar">
        <option value="Junaghadh">
      </datalist>
    </div>
    
    <div class="form-group col-6">
      <label>Postal Code</label>
      <input type="text" class="form-control" name="postal_code">
    </div>

    <div class="col-12 text-right">
      <button class="btn btn-fill" onclick="window.location.href='{{ url_for('view.payment') }}';">Continue to Checkout</button>
    </div>
  </div>
  </form>
</div>

{% endblock %}
