{% extends "layout.html" %}

{% block content %}

<div class="container single-product-content bg-color-white pt-15px pb-20px">
  <form method="post" action="{{ url_for('view.edit_delivery_address') }}">
    <div class="row">

    <div class="form-group col-12">
      <label>Address Name</label>
      <input type="text" class="form-control" name="address_name" value="{{ address.address_name }}">
    </div>

    <div class="form-group col-6">
      <label>First Name</label>
      <input type="hidden" name="address_id" value="{{ address.id }}">
      <input type="text" class="form-control" name="first_name" value="{{ address.first_name }}">
    </div>

    <div class="form-group col-6">
      <label>Last Name</label>
      <input type="text" class="form-control" name="last_name" value="{{ address.last_name }}">
    </div>
    
    <div class="form-group col-6">
      <label>Email</label>
      <input type="email" class="form-control" name="email" value="{{ address.email }}">
    </div>

    <div class="form-group col-6">
      <label>Phone Number</label>
      <input type="number" class="form-control" name="phone_number" value="{{ address.phone_number }}">
    </div>

    <div class="form-group col-12">
      <label>Address</label>
      <textarea name="address" class="form-control" rows="3">{{ address.address }}</textarea>
    </div>
    
    <div class="form-group col-6">
      <label>Country</label>
      <input list="countries" class="form-control" name="country" value="{{ address.country }}">
      <datalist id="countries">
        <option value="India">
        <option value="Canada">
        <option value="U.S">
      </datalist>
    </div>
    
    <div class="form-group col-6">
      <label>State</label>
      <input list="states" class="form-control" name="state" value="{{ address.state }}">
      <datalist id="states">
        <option value="Gujarat">
        <option value="Rajsthan">
        <option value="Maharashtra">
      </datalist>
    </div>
    
    <div class="form-group col-6">
      <label>City</label>
      <input list="cities" class="form-control" name="city" value="{{ address.city }}">
      <datalist id="cities">
        <option value="Ahmedabad">
        <option value="Gandhinagar">
        <option value="Junaghadh">
      </datalist>
    </div>
    
    <div class="form-group col-6">
      <label>Postal Code</label>
      <input type="text" class="form-control" name="postal_code" value="{{ address.postal_code }}">
    </div>

    <div class="col-12 text-right">
      <button class="btn btn-fill" type="submit">Update</button>
    </div>
    
  </div>
  </form>
 
</div>

{% endblock %}
