<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register To Fly Buy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/login.css') }}">
<!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login">
            <div class="wrap-login">
                <div class="login-pic">
                    <img src="{{ url_for('static', filename='assets/images/logo_1.png') }}" alt="logo">
                </div>
                <div id="successAlert" class="alert alert-success" role="alert" style="display: none;">success</div>
                <div id="errorAlert" class="alert alert-danger" role="alert" style="display: none;">success</div>
                <form method="POST" id="register-form" class="validate-form register-form">
                    <span class="login-form-title">
                        Register To Fly Buy
                    </span>

                    <div class="wrap-input validate-input" data-validate="Name is required">
                        <input class="input" type="text" name="name" id="nameInput" placeholder="Name">
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input" type="text" name="email" id="emailInput" placeholder="Email">
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input validate-input" data-validate="Password is required">
                        <input class="input password" type="password" name="password" id="passwordInput" placeholder="Password">
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input validate-input" data-validate="Confirm Password is required.">
                        <input class="input" type="password" name="confirm-password" placeholder="Confirm Password">
                        <span class="focus-input"></span>
                        <span class="symbol-input">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="container-login-form-btn">
                      <button class="login-form-btn submit-form" data-type="register">
                          Register
                      </button>
                    </div>

                    <div class="text-center p-t-12">
                        <a class="txt2" href="{{ url_for('view.user') }}">
                            Already have an account ?
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

<script type="text/javascript">
  $(document).ready(function(){
    $('form').on('submit', function(event){
      $.ajax({
        data : {
          name: $('#nameInput').val(),
          email: $('#emailInput').val(),
          password: $('#passwordInput').val()
        } ,
        type : 'POST',
        url : '/registration'
      })
      .done(function(data){
        $('#successAlert').text(data.name).show();
        $('#errorAlert').hide();
      });
      event.preventDefault();
    });
  });
</script>


<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='assets/js/plugins/bootstrap.bundle.min.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='assets/js/login.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>
</html>
