{% extends "admin/dashboard_layout.html" %}

{% block content %}
  <div class="page-container container scene-main scene-main--fade_In">
      <div class="container admin-wrapper bg-color-white p-30px">
          <div class="section-title text-center">
              <h1>Add User</h1>
          </div>
          <!-- User Form -->
          <form id="user_form" enctype="multipart/form-data">
              <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Name</label>
                          <input name="name" id="name" value='' type="text" placeholder="Enter Name" class="form-control onFocus ui-autocomplete-input" autocomplete="off" data-placeholder="name">
                          <p class="error" id="name_error"></p>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Email</label>
                          <input name="email" id="email" value='' type="email" placeholder="Enter Email" class="form-control onFocus ui-autocomplete-input" autocomplete="off" data-placeholder="email">
                          <p class="error" id="email_error"></p>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Password</label>
                          <input name="password" id="password" value='' type="password" placeholder="Enter Password" class="form-control onFocus ui-autocomplete-input" autocomplete="off" data-placeholder="password">
                          <p class="error" id="pass_error"></p>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Role</label>
                          <select id="role" name="role" class="custom-dropdown">
                              <option value="customer" selected>Customer</option>
                              <option value="seller">Seller</option>
                              <option value="admin">Admin</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Active or Not</label>
                          <ul class="radio-listing clearfix">
                              <li>
                                  <input type="radio" id="active" value="1"checked name="radio">
                                  <label for="active">Active</label>
                              </li>
                              <li>
                                  <input type="radio" id="not_active" value="0" name="radio">
                                  <label for="not_active">Not Active</label>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-sm-12">
                      <div class="form-group">
                          <div class="button-outer text-center">
                              <button type="submit" id="user_insert" class="btn btn-lime btn-large">Submit</button>
                              <a href="users.html" id="cancle" class="btn btn-lime btn-large">Cancel</a>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
      </div>
  </div>
{% endblock %}
