{% extends "admin/dashboard_layout.html" %}

{% block content %}
  <div class="page-container container scene-main scene-main--fade_In">
      <div class="container admin-wrapper bg-color-white p-30px">
          <div class="section-title text-center">
              <h1>Add Product</h1>
          </div>
          <form method="POST" action="{{ url_for('admin_view.create_product') }}">
              <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Name</label>
                          <input type="text" name="name" class="form-control onFocus ui-autocomplete-input">
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Price</label>
                          <input type="text" name="price" class="form-control onFocus ui-autocomplete-input">
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Discount</label>
                          <input type="text" name="discount" class="form-control onFocus ui-autocomplete-input">
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Category</label>
                          <select id="role" name="category_id" class="custom-dropdown">
                              {% for category in categories %}
                              <option value="{{ category.id }}">{{ category.name }}</option>
                              {% endfor %}
                          </select>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div>
                        <ul>
                          <li>
                            <input type="checkbox" name="is_available" id="checkbox1" value="true" checked>
                            <label for="active">___Available</label>
                          </li>
                        </ul>
                      </div>
                  </div>
                  <div class="col-sm-12">
                      <div class="form-group">
                          <div class="button-outer text-center">
                              <button type="submit" class="btn btn-lime btn-large">Submit</button>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
      </div>
  </div>
{% endblock %}
