{% extends "admin/dashboard_layout.html" %}

{% block content %}
  <div class="page-container container scene-main scene-main--fade_In">
      <div class="container admin-wrapper bg-color-white p-30px">
          <div class="section-title text-center">
              <h1>Add Category</h1>
          </div>
          <form id="category_form" enctype="multipart/form-data">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>Category Name</label>
                          <input name="name" id="name" value='' type="text" placeholder="Enter Category Name" class="form-control onFocus ui-autocomplete-input" autocomplete="off" data-placeholder="category">
                          <p class="error" id="name_error"></p>
                      </div>
                  </div>
                  <div class="col-sm-12">
                      <div class="form-group">
                          <div class="button-outer text-center">
                              <button type="submit" id="category_insert" class="btn btn-lime btn-large">Submit</button>
                              <a href="categories.html" id="cancle" class="btn btn-lime btn-large">Cancel</a>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
      </div>
  </div>
{% endblock %}
