{% extends "admin/dashboard_layout.html" %}

{% block content %}
  <div class="page-container container scene-main scene-main--fade_In">
      <div class="container admin-wrapper bg-color-white p-30px">
          <div class="section-title">
              <h5>Categories list</h5>
              <button type="button" data-toggle="modal" data-target="#category_add" class="add btn btn-lime btn-xs">Add Category</button>
          </div>
          <input type="text" id="myInput" placeholder="Search for">
          <div class="table-responsive">
              <table class="table admin-table table-bordered table-striped">
                  <tr>
                      <th>Sr. no.</th>
                      <th>Title</th>
                      <th></th>
                  </tr>
                  <tbody id="list">
                  {% for category in categories %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ category.name }}</td>

                        <td style="width:140px;">
                            <div class="button-outer" style="width:140px;">
                                <button type="button" id="update_category"  data-toggle="modal" data-id="1" data-target="#category_update{{ category.id }}" class="update btn btn-lime btn-xs">Edit</button>
                                <button type="button" id="delete_category" data-toggle="modal" data-id="1" data-target="#category_delete{{ category.id }}" class="delete btn btn-lime btn-xs">Delete</button>
                            </div>
                        </td>
                    </tr>

                  <div class="modal fade" id="category_update{{ category.id }}">
                      <div class="modal-dialog modal-sm update-modal">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h6 class="modal-title">Update Category</h6>
                              </div>
                              <form method="POST" action="{{ url_for('admin_view.update_category') }}">
                              <div class="modal-body">
                                <label>category name</label>
                                <input type="hidden" name="id" value="{{ category.id }}">
                                <input type="text" class="input" name="category_name" value="{{ category.name }}">
                              </div>
                              <div class="modal-footer">
                                  <button type="submit" class="btn btn-lime btn-xs">Update</button>
                                  <button type="submit" class="btn btn-lime btn-xs" data-dismiss="modal">Cancle</button>
                              </div>
                              </form>
                          </div>
                      </div>
                  </div>

                  <div class="modal fade" id="category_delete{{ category.id }}">
                      <div class="modal-dialog modal-sm delete-modal">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h6 class="modal-title">Delete Category</h6>
                              </div>
                              <div class="modal-body">
                                  <p>Do you really want to delete?</p>
                              </div>
                              <div class="modal-footer">
                                  <a type="button"  href="{{ url_for('admin_view.delete_category', category_id=category.id) }}" class="btn btn-lime btn-xs" >Yes</a>
                                  <button type="submit" class="btn btn-lime btn-xs" data-dismiss="modal">No</button>
                              </div>
                          </div>
                      </div>
                  </div>

                  {% endfor %}
                  </tbody>
              </table>
          </div>
          <nav class="pagination_holder">
              <ul class="pagination">

                  <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                          <span>
                              &lt;
                          </span>
                          <span class="sr-only">Next</span>
                      </a>
                  </li>
                  <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                          <span>
                              &gt;
                          </span>
                          <span class="sr-only">Next</span>
                      </a>
                  </li>
              </ul>
          </nav>
      </div>
  </div>



  <div class="modal fade" id="category_add">
      <div class="modal-dialog modal-sm add-modal">
          <div class="modal-content">
              <div class="modal-header">
                  <h6 class="modal-title">Add Category</h6>
              </div>
              <form method="POST" action="{{ url_for('admin_view.create_category') }}">
              <div class="modal-body">
                  <label>category name</label>
                  <input class="input" type="text" name="name">
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-lime btn-xs">Add Category</button>
                  <button type="submit" class="btn btn-lime btn-xs" data-dismiss="modal">Cancle</button>
              </div>
              </form>
          </div>
      </div>
  </div>
{% endblock %}
