{% extends "admin/dashboard_layout.html" %}

{% block content %}
  <div class="page-container container scene-main scene-main--fade_In">
      <div class="container admin-wrapper bg-color-white p-30px">
          <div class="section-title">
              <h5>Products list</h5>
              <div class="button-outer">
                  <a type="button" href="add-product.html" class="btn btn-lime">Add Product</a>
              </div>
          </div>
          <input type="text" id="myInput" placeholder="Search for">
          <div class="table-responsive">
              <table class="table admin-table table-bordered table-striped">
                  <tr>
                      <th>Sr. no.</th>
                      <th>Title</th>
                      <th>Price</th>
                      <th>Cateogry</th>
                      <th></th>
                  </tr>
                  <tbody id="list">
                  <tr>
                      <td>1</td>
                      <td>Shirt</td>
                      <td>599</td>
                      <td>Clothings</td>
                      <td style="width:140px;">
                          <div class="button-outer" style="width:140px;">
                              <a type="button" href="#" class="btn btn-lime btn-xs">Edit</a>
                              <button type="button" id="delete_product" data-toggle="modal" data-id="1" data-target="#product_delete" class="delete btn btn-lime btn-xs">Delete</button>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Shoes</td>
                      <td>999</td>
                      <td>FootWear</td>
                      <td style="width:140px;">
                          <div class="button-outer" style="width:140px;">
                              <a type="button" href="#" class="btn btn-lime btn-xs">Edit</a>
                              <button type="button" id="delete_product" data-toggle="modal" data-id="1" data-target="#product_delete" class="delete btn btn-lime btn-xs">Delete</button>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td>Tshirt</td>
                      <td>399</td>
                      <td>Clothings</td>
                      <td style="width:140px;">
                          <div class="button-outer" style="width:140px;">
                              <a type="button" href="#" class="btn btn-lime btn-xs">Edit</a>
                              <button type="button" id="delete_product" data-toggle="modal" data-id="1" data-target="#product_delete" class="delete btn btn-lime btn-xs">Delete</button>
                          </div>
                      </td>
                  </tr>
                  </tbody>
              </table>
          </div>
          <nav class="pagination_holder">
              <ul class="pagination">

                  <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                          <span>
                              &lt;
                          </span>
                          <span class="sr-only">Next</span>
                      </a>
                  </li>
                  <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                          <span>
                              &gt;
                          </span>
                          <span class="sr-only">Next</span>
                      </a>
                  </li>
              </ul>
          </nav>
      </div>
  </div>
  <!-- Delete Modal -->
  <div class="modal fade" id="product_delete">
      <div class="modal-dialog modal-sm delete-modal">
          <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                  <h6 class="modal-title">Delete Product</h6>
              </div>
              <!-- Modal body -->
              <div class="modal-body">
                  <p>Do you really want to delete?</p>
              </div>
              <!-- Modal footer -->
              <div class="modal-footer">
                  <a type="button" id="delete_modal_product" data-id="" class="btn btn-lime btn-xs" >Yes</a>
                  <button type="submit" class="btn btn-lime btn-xs" data-dismiss="modal">No</button>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
