{% extends "admin/dashboard_layout.html" %}

{% block content %}
  <div class="page-container container scene-main scene-main--fade_In">
      <div class="container admin-wrapper bg-color-white p-30px">
          <div class="section-title">
              <h5>Products list</h5>
              <a href="{{ url_for('admin_view.add_product') }}"><button class="add btn btn-lime btn-xs">Add Product</button></a>
          </div>
          <input type="text" id="myInput" placeholder="Search for">
          <div class="table-responsive">
              <table class="table admin-table table-bordered table-striped">
                  <tr>
                      <th>Sr. no.</th>
                      <th>Images</th>
                      <th>Title</th>
                      <th>Price</th>
                      <th>Cateogry</th>
                      <th>Discount</th>
                      <th></th>
                  </tr>
                  <tbody id="list">
                  {% for product in products %}
                  <tr>
                      <td>{{ loop.index }}</td>
                      <td>
                        <a href="{{ url_for('admin_view.product_images', product_id=product[0].id) }}">
                          <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                      </td>
                      <td>{{ product[0].name }}</td>
                      <td>{{ product[0].price }}</td>
                      <td>{{ product[1].name }}</td>
                      <td>{{ product[0].discount }}</td>
                      <td style="width:140px;">
                          <div class="button-outer" style="width:140px;">
                              <button type="button" id="update_product" data-toggle="modal" data-id="1" data-target="#product_update{{ product[0].id }}" class="update btn btn-lime btn-xs">Edit</button>
                              <button type="button" id="delete_product" data-toggle="modal" data-id="1" data-target="#product_delete{{ product[0].id }}" class="delete btn btn-lime btn-xs">Delete</button>
                          </div>
                      </td>
                  </tr>

                  <div class="modal fade" id="product_update{{ product[0].id }}">
                      <div class="modal-dialog modal-sm update-modal">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h6 class="modal-title">Update Product</h6>
                              </div>
                              <form method="POST" action="{{ url_for('admin_view.update_product') }}">
                              <div class="modal-body">
                                <label>product name</label>
                                <input type="hidden" name="id" value="{{ product[0].id }}">
                                <input type="text" class="input" name="name" value="{{ product[0].name }}">
                                <br>
                                <label>product price</label>
                                <input type="text" class="input" name="price" value="{{ product[0].price }}">
                                <br>
                                <label>product discount</label>
                                <input type="text" class="input" name="discount" value="{{ product[0].discount }}">
                                <br>
                                <label>Category</label>
                                <select name="category_id" class="custom-dropdown">
                                    {% for category in categories %}
                                      {% if category.name == product[1].name %}
                                        <option value="{{ category.id }}" selected>{{ category.name }}</option>
                                      {% else %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                      {% endif %}
                                    {% endfor %}
                                </select>

                              </div>
                              <div class="modal-footer">
                                  <button type="submit" class="btn btn-lime btn-xs">Update</button>
                                  <button type="submit" class="btn btn-lime btn-xs" data-dismiss="modal">Cancle</button>
                              </div>
                              </form>
                          </div>
                      </div>
                  </div>

                  <div class="modal fade" id="product_delete{{ product[0].id }}">
                      <div class="modal-dialog modal-sm delete-modal">
                          <div class="modal-content">
                              <!-- Modal Header -->
                              <div class="modal-header">
                                  <h6 class="modal-title">Delete Product</h6>
                              </div>
                              <!-- Modal body -->
                              <div class="modal-body">
                                  <p>Do you really want to delete?</p>
                              </div>
                              <!-- Modal footer -->
                              <div class="modal-footer">
                                  <a type="button" href="{{ url_for('admin_view.delete_product', product_id=product[0].id) }}" class="btn btn-lime btn-xs" >Yes</a>
                                  <button type="submit" class="btn btn-lime btn-xs" data-dismiss="modal">No</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
                  </tbody>
              </table>
          </div>
          <nav class="pagination_holder">
              <ul class="pagination">

                  <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                          <span>
                              &lt;
                          </span>
                          <span class="sr-only">Next</span>
                      </a>
                  </li>
                  <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                          <span>
                              &gt;
                          </span>
                          <span class="sr-only">Next</span>
                      </a>
                  </li>
              </ul>
          </nav>
      </div>
  </div>

{% endblock %}
